gameasync/**/*.rxdata filter=lfs diff=lfs merge=lfs -text
gameasync/**/*.png filter=lfs diff=lfs merge=lfs -text
gameasync/**/*.ogg filter=lfs diff=lfs merge=lfs -text
gameasync/**/*.exe filter=lfs diff=lfs merge=lfs -text
gameasync/** !text !filter !merge !diff
